<div class="header">
  <div class="header1">
  </div>
  <div class="navbar-parent">
  <div class="navbar">
    <a [routerLink] ="['']"><img class="logo-color-icon" alt="" src="../../../../../assets/images_web/logo.png"></a>
    <div class="navbar1">
      <div class="menu"><a [routerLink] ="['history']">NOSOTROS</a></div>
      <div class="menu"><a [routerLink] ="['menu']">CARTA</a></div>
      <div class="menu"><a [routerLink] ="['contact']">CONTACTA</a></div>
    </div>
  </div>
  <div class="lupa-y-mesa">
  <div class="barra-bsqueda">
  <div class="busqueda">
  </div>
  <img class="bisearch-icon" alt="" src="bi:search.svg">
  </div>
  <div class="parent">
  <b class="menu">10</b>
  <div class="mi-mesa">Mi mesa</div>
  </div>
  </div>
  </div>
</div>



