<div class="header">
  <div class="header1">
  
      <div class="navbar-parent">
          <div class="navbar">
            <a [routerLink] ="['']"><img class="logo-color-icon" alt="" src="../../../../../assets/images_web/logo.png"></a>
              <div class="navbar1">
                  <div class="nosotros"><a [routerLink] ="['comandas']">COMANDAS</a></div>
                  <div class="nosotros"><a [routerLink] ="['productos']">PRODUCTOS</a></div>
                  <div class="nosotros"><a [routerLink] ="['mesas']">MESAS</a></div>
              </div>
          </div>
      
         <div class="lupa-y-mesa">
             <div class="barra-bsqueda">
                 <div class="busqueda">
             </div>
                               
          </div>
     
          <div class="parent">
              <b class="nosotros"></b>
              <div class="cerrar" onclick="cerrar()">Cerrar</div>
         </div>
      </div>
  </div>
  
  
</div>