<section>
    <div id="comandas">
      <p>Productos</p>
    </div>
     <!--He tenido que poner la barra delante pero en otros no lo lleva-->
     <div class="crear"><a [routerLink]="['/crear']">Añadir producto</a></div>
    <table>

        <thead>
            <tr>
                <th>Producto</th>
                <th>Ingredientes</th>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Vegano</th>
                <th>Gluten</th>
                <th>Precio</th>
                <th>Eliminar</th>
               

            </tr>
        </thead>

        <tbody *ngFor="let product of products">
            <tr>
                <td>{{ product.idProducto }}</td>
                <td>{{ product.ingredientes }}</td>
                <td>{{ product.descripcion | titlecase }}</td>
                <td>{{ product.tipo }}</td>
                <td>{{ product.vegano }}</td>
                <td>{{ product.gluten }}</td>
                <td>{{ product.precio | currency: 'EUR' }}</td>
                <td>
                  
                  <button (click)="eliminarProducto(product)">Eliminar</button>
                 
                </td>

                


            </tr>
        </tbody>
    </table>

   
    
</section>
