<section>
    <div id ="Comandas">
      <p>Productos</p>
    </div>
    <table>
        
        <thead>
            <tr>
                <th>Producto</th>
                <th>Ingredientes</th>
                <th class="plato">Descripción</th>
                <th>Tipo</th>
                <th>Vegano</th>
                <th>Gluten</th>
                <th>Precio</th>
                <th>Modificar</th>
                <th>Eliminar</th>
                <th>Alta</th>
                

            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>hbjhb</td>
                <td>2jhjh</td>
                <td>albondiga</td>
                <td>ser</td>
                <td>kbkj</td>
                <td>kjkj</td>
                <td>jbkjbk</td>
                <td  class ="enlace" onclick="Modificar()">Modificar</td>
                <td  class ="enlace" onclick="Eliminar()">Eliminar</td>
                <td  class ="enlace" onclick="Alta()">Alta</td>
                

                
            </tr>
        </tbody>
    </table>
</section>