<section>
    <div id="comandas">
      <p>Productos</p>
    </div>
    <table>

        <thead>
            <tr>
                <th>Producto</th>
                <th>Ingredientes</th>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Vegano</th>
                <th>Gluten</th>
                <th>Precio</th>
               <!-- <th>Modificar</th>
                <th>Eliminar</th>
                <th>Alta</th>
                -->

            </tr>
        </thead>

        <tbody *ngFor="let product of products">
            <tr>
                <td>{{ product.idProducto }}</td>
                <td>{{ product.ingredientes }}</td>
                <td>{{ product.descripcion | titlecase }}</td>
                <td>{{ product.tipo }}</td>
                <td>{{ product.vegano }}</td>
                <td>{{ product.gluten }}</td>
                <td>{{ product.precio | currency: 'EUR' }}</td>
                <!-- <td class ="enlace">Modificar</td>
                <td class ="enlace">Eliminar</td>
                <td class ="enlace">Alta</td> -->
                <!--<td>Modificar</td>
                <td>Eliminar</td>
                <td>Alta</td>-->


            </tr>
        </tbody>
    </table>
    <!--
    <div class="botones">
        <button (click)="Modificar()">Modificar</button>
        <button (click)="Eliminar()">Eliminar</button>
        <button (click)="Alta()">Alta</button>
    </div>
    -->
</section>
