#comandas {
    position: absolute;
    display: flex;
    top: 268px;
    left: 168px;
    font-size: 58px;
    line-height: 140%;
    display: inline-block;
    font-family:'Roboto Condensed';
    color: #6b5b5b;/*no se aplican los colores por que falta globas.css*/
    text-align: left;
    width: 300px;

    }
table{
    border:solid black 2px;
    position: absolute;
    top: 400px;
    left: 168px;
    border-collapse: collapse;
    font-family:'Roboto ';
    font-size: 16px;
    color:000000;


}
tbody{
    border:solid black 2px;
    border-collapse: separate;

}
thead{
    border:solid black 2px;
    border-collapse: separate;
    background-color:#BBA7A7;
}
/* .enlace:hover {
    cursor: pointer;
    text-decoration: underline;
} */
td{
    padding: 10px;
    border: 1px solid black;

}
section{
    width: 100%;
    min-height: 1600px;
    display: flex;
}
/*Media query tablet comandas*/
@media screen and (max-width: 992px) {
    #comandas {
        
        position: static;
        margin-top: 10px;
        
        display: flex;
        height: 140px;
        margin-left: 40px;
    }

    table {
        position: static;
        margin: 20px 0;
        width: 100%;
        margin-top: 160px;
        margin-left:-280px;
    }
}
/*media query movil */
@media screen and (max-width: 575px) {
    #comandas {
        display: flex;
        position: absolute;
        top: 100px;
        left: 10px;
        position: static;
        margin-top: 10px;
        font-size: 24px;
        line-height: 100%;
        width: auto;
        height: 60px;
    }

    table {

        position: static;
        margin: 2px 0;
        font-size:12px;
        width: auto;
        margin-top: 80px;
        margin-left:-100px ;
    }
}

