.cocina{
    background-image: url("../../../../assets/images_web/image_carta_contacta.jpg");
    display: flex;/*display flex para que se adapte */
    justify-content: center;/*asi el botón lo centra*/
    align-items: center;
    
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center;
    width: 100%;
    height: 704px;
}
.button a{
    position: relative;
    line-height: 140%;
    text-decoration: none;
    font-size:20px;
    color: #FDFDFD;
    font-family: 'Roboto';
}
.botones-primarios {
    width: 208px;
    margin: 0 !important;
    top: 480px;
    left: 700px;
    box-shadow: var(--sombras-botones);
    border-radius: 32px;
    background-color: #B38F48;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    box-sizing: border-box;
    text-align: left;
   
    
}
.a {
   font-size: 20px;
   color: #FDFDFD;
    
}
