<section>
  <div id ="comandas">
    <p>Comandas</p>
  </div>
  <table>

    <thead>
      <tr>
        <th>Comanda</th>
        <th>Pedido</th>
        <th class="plato">Plato</th>
        <th>Servido</th>
        <th>Cambiar Estado</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let comanda of comandas">
           <td>{{comanda.idComanda}}</td>
           <td>{{comanda.pedido.idPedido}}</td>
           <td>{{comanda.producto.descripcion}}</td>
           <td>
             <select [(ngModel)]="comanda.servido">
                <option *ngFor="let servido of servidos" [value]="servido.id">
                      {{ servido.desc }}
                </option>
             </select>
            </td>
            <td>
              <button (click)="modificarServido(comanda, comanda.servido)">Servir</button>
            </td>
        </tr>
     </tbody>
  </table>
</section>
