#comandas {
    position: absolute;
    display: flex;
    top: 168px;
    left: 518px;
    font-size: 58px;
    line-height: 140%;
    display: inline-block;
    font-family:'Roboto Condensed';
    color: #6b5b5b;
    text-align: left;
    width: 300px;

}
table{
    border:solid black 2px;
    top: 400px;
    left: 168px;
    border-collapse: collapse;
    font-family:'Roboto';
    font-size: 16px;
    color: #000;
    margin-top: 160px;

}
tbody{
    border:solid black 2px;
    border-collapse: separate;

}
thead{
    border:solid black 2px;
    border-collapse: separate;
    background-color:#BBA7A7;
}
.enlace:hover {
    cursor: pointer;
    text-decoration: underline;
}
td{
    padding: 10px;
    border: 1px solid black;

}
section{
    display: flex;/*hago que se adapte al contenido*/
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;/*siempre dejando un margen con el footer*/
}
button{
    position: relative;
    box-shadow: 3px 3px 4px 0px rgba(93, 92, 92, 0.75);
    border-radius: 32px;
    background-color: #B38F48;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
    color: #FDFDFD;
    font-family:'Roboto';
}
/*Media query tablet comandas*/
@media screen and (max-width: 992px) {
    #comandas {
        top: 150px;
        left: 20px;
        position: static;
        margin-top: 20px;
        margin-left: 20px;
    }

    table {
        position: static;
        margin: 20px 0;
        width: 100%;
    }
}
/*media query movil */
@media screen and (max-width: 575px) {
    #comandas {
        display: flex;
        position: absolute;
        top: 100px;
        left: 10px;
        position: static;
        margin-top: 10px;
        font-size: var(--ttulos-ttulo-de-tarjeta-size);

        line-height: 100%;
        width: auto;
    }

    table {
        position: static;
        margin: 10px 0;
        font-size: var(--textos-texto-tarjeta-size);
        width: auto;
    }
}

