<section>
    <div id ="comandas">
      <p>Comandas</p>
    </div>
    <table>

        <thead>
            <tr>
                <th>Comanda</th>
                <th>Pedido</th>
                <th class="plato">Plato</th>
                <th>Estado</th>
                <!-- <th>Servido</th>
                <th>Eliminar</th> -->

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let comanda of comandas">
                <td>{{comanda.idComanda}}</td>
                <td>{{comanda.pedido.idPedido}}</td>
                <td>{{comanda.producto.descripcion}}</td>
                <td>{{comanda.servido}}</td>
                <!-- <td  class ="enlace" onclick="Servido()">Marcar servido</td>
                <td  class ="enlace" onclick="Eliminar()">Eliminar</td> -->

            </tr>
        </tbody>
    </table>
</section>
