<div class="hero">
    <img class="image-hero-icon" alt="" src="../../../../../assets/images_web/image_hero.jpg">
    <div class="texto-hero">
      <b class="experiencia-inolvidable-con">Experiencia inolvidable con sabores auténticos</b>
    <div class="en-nuestra-carta">En nuestra carta, encontrarás una cuidadosa selección de platos que destacan la frescura y la calidad de los ingredientes locales. Desde entradas frescas hasta platos principales reconfortantes y postres indulgentes, cada opción refleja nuestro compromiso con la sostenibilidad. </div>
    <div class="botones-primarios">
    <div class="button"><a href="carta.html">Visita nuestra carta</a></div><!--No me deja poner su link-->
    </div>
    </div>
</div>
<div class="fondo-bienvenido">
<img class="ajos-1-icon" alt="" src="../../../../../assets/images_web/ajos 1.png ">
<div class="fondo-bienvenido-child">
    <div class="bienvenido">
        <div class="texto-imagen">
         <div class="bienvenido-a-nuestro-restauran-parent">
            <b class="bienvenido-a-nuestro">Bienvenido a nuestro restaurante</b>
           <div class="en-nuestro-restaurante-container">
             <p class="en-nuestro-restaurante">En nuestro restaurante, fusionamos la excelencia gastronómica con un compromiso con el medio ambiente. </p>
              <p class="nuestra-innovadora-forma">Nuestra innovadora forma de tomar pedidos es un reflejo de nuestra filosofía. A través de tablets intuitivas, nuestros clientes realizan sus pedidos con facilidad y reduciendo el desperdicio de papel. Nos enorgullece decir que trabajamos con agricultores locales comprometidos con la agricultura sostenible. Cada ingrediente proviene de fuentes cercanas y se cultiva con respeto por el medio ambiente y las comunidades locales.</p>
            </div>
         </div>
            <img class="image-sobre-nosotros-icon" alt="" src="../../../../../assets/images_web/image_sobre_nosostros.jpg">
       </div>
  </div>
</div>

</div>


<div class="nuestros-platos">
  <img class="carta-contacta"alt="" src="../../../../../assets/images_web/image_carta_contacta2.png ">
  <b class="nuestros-platos1">Nuestros platos</b>

  <div class="car-nuestros-platos">
    <div class="card-plato">
      <img class="principal-chuletonpiedra-1-icon" alt="" src="../../../../../assets/images_web/platos/21.png">
      <div class="chuletn-del-bierzo-container">
        <p class="chuletn-del-bierzo">Chuletón del Bierzo.</p>
        <p class="chuletn-del-bierzo">Asado a la piedra.</p>
        <p class="chuletn-del-bierzo">19€.</p>
      </div>
   </div>
     
    <div class="card-plato">
      <img class="principal-salmon-1-icon" alt="" src="../../../../../assets/images_web/platos/14.png">
      <div class="chuletn-del-bierzo-container">
        <p class="chuletn-del-bierzo">Tosta de salmón sobre</p>
        <p class="chuletn-del-bierzo"> cama de queso philadelphia </p>
        <p class="chuletn-del-bierzo">en pan tostado.</p>
        <p class="chuletn-del-bierzo">10€</p>
      </div>
    </div>
    <div class="card-plato">
      <img class="principal-chuletonpiedra-1-icon" alt="" src="../../../../../assets/images_web/platos/19.png">
      <div class="chuletn-del-bierzo-container">
        <p class="chuletn-del-bierzo">Deliciosa tarta</p>
        <p class="chuletn-del-bierzo"> de merengue.</p>
        <p class="chuletn-del-bierzo">4€.</p>
     </div>
   </div>
 </div>
</div>
<div class="contenedor-principal">
 <img class="flor-limonero" alt="" src="../../../../../assets/images_web/flor_limonero 1.png ">
  <div class="mapa-direccion-horario">
    
    <img class="direccin-1-icon" alt="" src="../../../../../assets/images_web/dirección 1.png">
    <div class="dnde-encontrarnos-parent">
     <b class="dnde-encontrarnos">Dónde encontrarnos</b>
    
    
      <div class="calle-la-cruz-container">
       <p class="calle-la-cruz">Calle La Cruz, 12</p>
       <p class="calle-la-cruz">28791 - Soto del Real, Madrid</p>
       <p class="calle-la-cruz">&nbsp;</p>
       <p class="calle-la-cruz">Disfrutarás de un entorno natural inigualable, podrás disfrutar de tu comida sentado en nuestra terraza admirando lo hermosa que es la pedriza.</p>
      </div>
      <b class="dnde-encontrarnos">Nuestro horario</b>
      <div class="calle-la-cruz-container">
       <p class="de-martes-a">De martes a viernes 12:30 - 16:30 y 19:30 - 23:00</p>
       <p class="de-martes-a">Sábado y domingo 12:30 - 17:00 y 19:00 - 00:00</p>
      </div>
    </div>
  </div>
</div>
