<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detalle evento</title>
</head>
<body>

	<h1>Detalles del Evento Seleccionado</h1>
	<!-- <h4><spam sec:authentication="name"></spam></h4> -->
	<h3> Nombre del usuario: <span th:text="${nombreUsuario}"></span></h3>
	<!--<h3>Mensaje: <span th:text="${mensaje}"></span></h3> -->
	
	<h2>Detalles del Evento</h2>
	
	<table border="2" width=50%>
		<tr>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Dirección</th>
			<th>Fecha Inicio</th>
			<th>Duración</th>
			<th>Aforo máximo</th>
			<th>Mínimo asistencia</th>
			<th>Precio</th>
		</tr>
			
		<tr>
			<td th:text="${evento.nombre}"></td>
			<td th:text="${evento.descripcion}"></td>
			<td th:text="${evento.direccion}"></td>
			<td th:text="${evento.fechaInicio}"></td>
			<td th:text="${evento.duracion}"></td>
			<td th:text="${evento.aforoMaximo}"></td>
			<td th:text="${evento.minimoAsistencia}"></td>
			<td th:text="${evento.precio}"></td>
		</tr>
	</table>
		
	<img th:src="@{/images/evento1.jpg}" alt="Imagen" />
	<!--  <img th:src="@{'/images/evento' + evento.idEvento + '.jpg'}" alt="Mi Imagen" /> -->
	
	<h3>Cantidad de entradas restante: <span th:text="${entradasRestantes}"></span></h3>
	<!-- <h3>Cantidad de entradas restante: <span th:text="${cantidad}"></span></h3> -->
	<form th:action="@{/eventos/reservar/{idEvento}(idEvento=${evento.idEvento})}" method="post"> 
		<!-- <input type="text" th:name="cantidad" placeholder="cantidad a reservar (max 10)" required> -->
	
		<select name="cantidad" placeholder="cantidad a reservar (max 10)" required>
			<option value="0">Seleccionar :</option>	
		    <option value="1">1</option>
		    <option value="2">2</option>
		    <option value="3">3</option>
		    <option value="4">4</option>
		    <option value="5">5</option>
		    <option value="6">6</option>
		    <option value="7">7</option>
		    <option value="8">8</option>
		    <option value="9">9</option>
		    <option value="10">10</option>
		</select>
		<button type="submit" value="Enviar">Reservar</button>
	</form>
	
	<a th:href="@{/}">Volver a inicio</a>

</body>
</html>