<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>

	<h1>Login</h1>
	<h3>Mensaje: <span th:text="${mensaje}"></span></h3>
	
	<form th:action="@{/login}" method="post">
	
	<input type="text" th:name="username" placeholder="Usuario" required>
	<input type="text" th:name="password" placeholder="Password" required>
	
	<button type="submit" value="Enviar">Enviar</button>
	
	</form>
	<a th:href="@{/registro}">Si no tienes cuenta, registrate</a>
	<a th:href="@{/}">Volver a inicio</a>
</body>
</html>