<footer>
    <div class="frame-parent">
      <div class="trminos-y-condiciones-parent">
        <div class="trminos-y-condiciones">Términos y Condiciones</div>
        <div class="trminos-y-condiciones">Política de Privacidad</div>
        <div class="poltica-de-privacidad">Política de Cookies</div>
      </div>
      <div class="trminos-y-condiciones-parent">
        <div class="trminos-y-condiciones">Mapa Web</div>
        <div class="poltica-de-privacidad">FAQs</div>
        <div class="poltica-de-privacidad">Tel. Ayuda: 695695695</div>
      </div>
      <div class="ver-carta-parent">
        <div class="trminos-y-condiciones">Ver Carta</div>
        <div class="poltica-de-privacidad">Sobre nosostros</div>
        <div class="poltica-de-privacidad">Dónde estamos</div>
      </div>
      <div class="frame-group">
        <div class="trminos-y-condiciones-parent">
          <div class="email" id="emailContainer">
          <img class="email-icon" alt="" src="../../../../assets/images_web/Email (1).png">
        <!-- <div class="orderyourfoodes">order@yourfood.com</div>--><!--Da un error esta línea con angular-->
          </div>
          <div class="telefono">
            <img class="telefono-icon" alt="" src="../../../../assets/images_web/Telefono (1).png">
            <div class="orderyourfoodes">637637637</div>
          </div>
        </div>
        <div class="redes">
          <div class="redes-sociales">
            <img class="icon-circle-linkedin" alt="" src="../../../../assets/images_web/icon _circle linkedin_ (1).png" id="iconCircleLinkedin">
            <img class="icon-circle-linkedin" alt="" src="../../../../assets/images_web/icon _rounded instagram_ (1).png" id="iconCircleLinkedin">
            <img class="icon-circle-linkedin" alt="" src="../../../../assets/images_web/icon _circle facebook_ (1).png" id="iconCircleLinkedin">
            <img class="icon-circle-linkedin" alt="" src="../../../../assets/images_web/twitter.png" id="iconCircleLinkedin">
            <img class="twitter-w-icon" alt="" src="../../../../assets/images_web/icon _circle github_ (1).png" id="twitterWIcon">
          </div>
        </div>
      </div>
    </div>
  </footer>
  
