<div class="contenido">
    <img class="contenido" alt="" src="../../../../../assets/images_web/image_carta_contacta2">
    <div id="mapa-texto">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.2395610337962!2d-3.782120623362031!3d40.756755471386924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4162e0b5eebd4f%3A0xfcf66a19a3a0f37a!2sC.%20la%20Cruz%2C%2012%2C%2028791%20Soto%20del%20Real%2C%20Madrid!5e0!3m2!1ses!2ses!4v1714953599416!5m2!1ses!2ses"
            width="700" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div>
            <b class="experiencia-inolvidable-con">Estamos encantados de atenderte</b>
            <div class="en-nuestra-carta">
                <ul id="lista-contacto">
                    <li><img src="images/images_web/Telefono (1).png" /> 637637637</li>
                    <br/>
                    <li><img src="images/images_web/Email (1).png" /><!-- order@yourfood.es</li>-->
                    <br/>
                    <li><img src="images/images_web/ubicacion.png" /> Calle La Cruz, 12<br /> 28791 - Soto del Real,
                        Madrid</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="formulario-contacto">
        <form>
            <h2>Tu opinión nos importa</h2>
            <p>Queremos mejorar vuestra experiencia</p>
            <input type="text" placeholder="Tu nombre" class="form-opinion-input">
            <input type="email" placeholder="Tu email" class="form-opinion-input">
            <input type="number" placeholder="Tu teléfono" class="form-opinion-input">
            <textarea name="opinion" placeholder="Escribe tu opinión y sugerencia" id="" cols="3" rows="5" class="form-opinion-input"></textarea>
        </form>
    </div>
</div>
