.form-opinion-input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #b38f48;
    padding: 10px;
    margin-top: 20px;
    font-family: sans-serif;
}

.contenido {
    padding-top: 200px;
    padding-left: 150px;
    background-image: url;/*('images/images_web/image_carta_contacta.jpg');*/
    background-size: cover;
    padding-bottom: 100px;
}

#mapa-texto{
    display: grid; grid-template-columns: auto auto;
}

#lista-contacto{
    list-style: none; text-align: left; font-size: 20px; font-family: sans-serif;
}

#formulario-contacto{
    margin: 0 auto; border: 2px solid #b38f48; background-color: rgba(255, 255, 255, 0.4); width: 30%; padding: 50px; border-radius: 3px;  margin-top: 100px;
}

#formulario-contacto>form{
    color: white; font-family: sans-serif;
}

#formulario-contacto.h2{
    font-size: 40px;
}