.fondo-historia-child {
    position: absolute;
    top: 85px;
    left: 0px;
    background-color: var(--brand-colors-beige);
    width: 1440px;
    height: 587px;
}
.ajos-1-icon {
    position: absolute;
    top: 0px;
    left: 640px;
    width: 675px;
    height: 689px;
    object-fit: cover;
    
}
.fondo-historia {
    width: 100%;
    position: relative;
    height: 689px;
    margin-left: 150px;
}
.conoce-nuestra-historia {
    width: 543px;
    position: relative;
    line-height: 140%;
    display: inline-block;
}
.en-nuestro-restaurante {
    margin: 0;
}
.nuestra-innovadora-forma {
    margin: 0;
    white-space: pre-wrap;
}
.en-nuestro-restaurante-container {
    width: 544px;
    position: relative;
    font-size: 20px;
    line-height: 140%;
    font-family: 'Roboto';
    color: #423f3f;
    display: inline-block;
}
.conoce-nuestra-historia-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}
.female-baker-shop-with-tablet-icon {
    width: 543px;
    position: relative;
    height: 332px;
    object-fit: cover;
}
.texto-imagen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
    margin-top: 99px;
    margin-left: 168px;
}
.historia {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 48px;
    color: #6b5b5b;
    font-family: 'Roboto';
   
}
-------------------------------------------------------------------
.estos-son-algunos {
    width: 1440px;
    position: relative;
    line-height: 140%;
    display: inline-block;
    margin-top: 50px;
   
}
.person-holding-green-heart-gra-icon {
    width: 208px;
    position: relative;
    border-radius: 6px;
    height: 208px;
    object-fit: cover;
}
.sostenibilidad {
    width: 208px;
    position: relative;
    line-height: 140%;
    display: inline-block;
}
.agricultura-sostenible-e {
    width: 208px;
    position: relative;
    font-size: 16px;
    line-height: 140%;
    font-family:'Roboto';
    display: inline-block;
}
.card-plato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}
.cards-nuestros-platos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 240px;
    font-size: 24px;
}
.nuestros-valores {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    text-align: center;
    font-size: 48px;
    color: var(--brand-colors-beige);
    font-family: 'Roboto Condensed';
    margin-top: 4px;
    color:beige;
    
}

.carta-contacta {
    width: 100%;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    height: 481.4px;
    object-fit: cover;
    z-index: -1;
    object-fit: cover;
}
.nuestros-valores::before {
    content: ""; /* Contenido del pseudo-elemento  con before nos referimos a el fondo que esta antes */
    display: block; /* Hacer que el pseudo-elemento sea un bloque */
    height: 10px; /* Altura del espacio deseado entre el título y el borde superior */
}
-------------------------------------------------------
.fondo-mision-child {
    position: absolute;
    top: 0px;
    left: 52px;
    background-color: var(--brand-colors-beige);
    width: 1440px;
    height: 544px;
}
.flor-limonero-1-icon {
    position: absolute;
    top: 28px;
    left: 0px;
    width: 596px;
    height: 786px;
    object-fit: cover;
}
.fondo-mision {
    width: 100%;
    position: relative;
    height: 814px;
    display: flex;
    align-items: center;
}
.nuestra-misin-imagen-icon {
    width: 544px;
    position: relative;
    height: 336px;
    object-fit: cover;
    margin-left: 220px;
}
.tenemos-una-misin {
   
    width: 544px;
    position: relative;
    line-height: 140%;
    display: flex;
    align-items: center;
}
.texto-consultas {
   
    display: flex;
    flex-direction: column;
   /* align-items: flex-end;*/
    justify-content: center;
    gap: 6px;
    margin-left: 128px;
}
.nuestra-misin-conteniso {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 128px;
}
.nuestra-misin {
    flex: 1;
   /* position: relative;
    width: 100%;*/
    display: flex;
   /* flex-direction: column;*/
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 48px;
    color:  #6b5b5b;
    font-family: var(--ttulos-ttulo);
}
/*responsive tableta*/
@media screen and (max-width: 992px) {
    /*Nuestra historia*/
    .fondo-historia {
      margin-left: 20px; /* Reducción del margen izquierdo para tabletas */
      height: 860px;/*la altura se adapte al contenido*/
    }
    .fondo-historia-child{
        max-width: 90%;
        
       
        
       
    }
    .conoce-nuestra-historia-parent{
        
        margin-left: -100px;/* acerco el texto a la izquierda*/
    }
    .historia{
        font-size: 24px;/*reduzco tamaño de letra*/
        font-family: 'Roboto';

    }
    .ajos-1-icon {
        max-width: 40%; /* Ajusto el máximo que quiero que tenga de ancho*/
        max-height: auto;
        margin-left: -200px;/* Ajusto margen para colocar fondo en posición deseada*/
    }
    .texto-imagen {
        display: flex;
        flex-direction: column; /* Coloco  los elementos verticalmente */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
        justify-content: flex-start; /* Justifica los elementos arriba */
        gap: 20px; /* Espacio entre los elementos */
    }
    
    .female-baker-shop-with-tablet-icon {
        max-width: 260px; /* Ajusta el tamaño máximo de la imagen */
        height: 260px; 
        margin-left: 160px;/* Coloco la imagen a la derecha */
    }   
    /*valores*/
    
    .cards-nuestros-platos {
      flex-direction: column; /* Cambio a disposición de columna para las tarjetas */
      align-items: center; /* Centra las tarjetas verticalmente */
      gap: 40px; /* Espacio entre tarjetas para tabletas */
    }
  
   

    
    .carta-contacta{
        margin-top: 20px;
        height: 100%;/*Hago que el fondo se adapte al contenido*/
    }
   .nuestros-valores{
    font-size: 48px;
   }
   .cards-nuestros-platos{
    margin-bottom: 40px;/*Dejo espacio entre las tarjetas y la siguiente seccion*/
   }
   /*mision*/
   .flor-limonero-1-icon{
    width: 70%;/*Modifico el tamaño de la imagen de fondo*/
    height: 90%;
    margin-left: 300px;/*la muevo hacia la derecha*/
   }

   .nuestra-misin-imagen-icon {
    margin-left: 20px; /*Pongo margen izquierdo*/
    margin-bottom: 20px; /* Agrega espacio inferior para la imagen de misión */
    width: 40%;/*reduzco la imagen*/
    
    margin-top: 40px;/*Añado margen arriba*/
  }
  .fondo-mision{
    height: 100%;/*Hago que el fondo se adapte al contenido*/
  }
  .tenemos-una-misin{
    font-size: 24px;
    margin-left: -100px;
    
  }
}
/* móviles  */
@media screen and (max-width: 575px) {
    /*Nuestra historia*/

    .fondo-historia {
      margin-left: 10px; /* Reducción adicional del margen izquierdo para móviles */
      height: 760px;/*la altura se adapte al contenido*/
      
    }
    .conoce-nuestra-historia-parent{
        
        margin-left: -160px;/* acerco el texto a la izquierda*/
    }
    .historia{
        font-size: 24px;/*reduzco tamaño de letra de título*/
        font-family: 'Roboto';

    }
    .en-nuestro-restaurante-container{
        font-size: 16px;/*reduzco tamaño de letra del párrafo*/
        width: 70%;/*reduzco el ancho del contenedor del texto*/
    }
    .female-baker-shop-with-tablet-icon {
        max-width: 200px; /* Ajusta el tamaño máximo de la imagen */
        height: 200px; 
        margin-left: 90px;/*coloco la imagen a la derecha*/
    }   
    .ajos-1-icon {
        max-width: 60%; /* Ajusto el máximo que quiero que tenga de ancho*/
        max-height: auto;
        margin-left: -480px;/* Ajusto margen para colocar fondo en posición deseada*/
    }
    /*valores*/
    .cards-nuestros-platos {
      gap: 20px; /* Espacio más reducido entre tarjetas para móviles */
    }
    .estos-son-algunos{
        font-size: 24px;/*reduzco tamaño letra título*/
    }
    /*misión*/
    .nuestra-misin {
      flex-direction: column; /* Cambio a disposición de columna para la sección de misión */
      align-items: center; /* Centra los elementos verticalmente */
      text-align: center; /* Centra el texto en dispositivos móviles */
    }
  
    .nuestra-misin-imagen-icon {
      width: 40%; /* Ancho reducido*/
      height: 80%;
      margin-bottom: 20px; /* Agrega espacio inferior para la imagen de misión */
      margin-left: -280px;
    }
  
    .texto-consultas {
      margin-left: 200px; /*Modifico margen para colocar texto*/
      
    }
    .flor-limonero-1-icon{
        width: 70%;/*Modifico el tamaño de la imagen de fondo*/
        height: 90%;
        margin-left: 140px;/*la muevo hacia la derecha*/
       }
}

