

<div class="fondo-historia">
    <img class="ajos-1-icon" alt="" src="../../../../../assets/images_web/ajos 1.png ">
    <div class="fondo-historia-child">
        <div class="historia">
            <div class="texto-imagen">
                <div class="conoce-nuestra-historia-parent">
                    <p class="conoce-nuestra-historia">Conoce nuestra historia</p>
                    <div class="en-nuestro-restaurante-container">
                        <p class="en-nuestro-restaurante">En nuestro restaurante, fusionamos la excelencia gastronómica con un compromiso con el medio ambiente.</p>
                        <p class="nuestra-innovadora-forma">Nuestra innovadora forma de tomar pedidos es un reflejo de nuestra filosofía. A través de tablets intuitivas, nuestros clientes realizan sus pedidos con facilidad y reduciendo el desperdicio de papel. Nos enorgullece decir que trabajamos con agricultores locales comprometidos con la agricultura sostenible. Cada ingrediente proviene de fuentes cercanas y se cultiva con respeto por el medio ambiente y las comunidades locales.</p>
                    </div>
                </div>
                <img class="female-baker-shop-with-tablet-icon" alt="" src="../../../../../assets/images_web/camarera.png">
            </div>
        </div>
    </div>
</div>


<div class="nuestros-valores">
    <img class="carta-contacta" alt="" src="../../../../../assets/images_web/image_carta_contacta2.png ">
    <b class="estos-son-algunos">Estos son algunos de nuestros valores</b>
    <div class="cards-nuestros-platos">
        <div class="card-plato">
            <img class="person-holding-green-heart-gra-icon" alt="" src="../../../../../assets/images_web/image_valores_sostenibilidad.jpg">
            <b class="sostenibilidad">Sostenibilidad</b>
            <div class="agricultura-sostenible-e">Agricultura sostenible e innovación</div>
        </div>
        <div class="card-plato">
            <img class="person-holding-green-heart-gra-icon" alt="" src="../../../../../assets/images_web/image_valores_cercania.jpg">
            <b class="sostenibilidad">Cercanía</b>
            <div class="agricultura-sostenible-e">Productos de cercanía, cuidando cada detalle</div>
        </div>
        <div class="card-plato">
            <img class="person-holding-green-heart-gra-icon" alt="" src="../../../../../assets/images_web/image_valores_compromiso.jpg">
            <b class="sostenibilidad">Compromiso</b>
            <div class="agricultura-sostenible-e">Nos comprometemos a cuidar de nuestros clientes y nuestro entorno</div>
        </div>
    </div>
</div>

<div class="fondo-mision">
    <img class="flor-limonero-1-icon" alt="" src="../../../../../assets/images_web/flor_limonero 1.png">
   
        <div class="nuestra-misin">
           
            <img class="nuestra-misin-imagen-icon" alt="" src="../../../../../assets/images_web/image_mision.jpg">
            <div class="texto-consultas">
            <b class="tenemos-una-misin">Tenemos una misión ,tú.</b>
        </div>
    </div>
</div>
