.trminos-y-condiciones {
    width: 208px;
    position: relative;
    line-height: 140%;
    display: inline-block;
    height: 17px;
    flex-shrink: 0;
    color: #fff;
}
.poltica-de-privacidad {
    width: 208px;
    position: relative;
    line-height: 140%;
    display: inline-block;
    height: 18px;
    flex-shrink: 0;
    color: #fff;
}
.trminos-y-condiciones-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.ver-carta-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    color: #fff;
}
.email-icon {
    width: 24px;
    position: relative;
    height: 18px;
}
.orderyourfoodes {
    position: relative;
    line-height: 140%;
}
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    cursor: pointer;
}
.telefono-icon {
    width: 24px;
    position: relative;
    height: 24px;
}
.telefono {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    
}
.icon-circle-linkedin {
    width: 35.5px;
    position: relative;
    height: 35.5px;
    cursor: pointer;
}
.twitter-w-icon {
    width: 35px;
    position: relative;
    height: 35px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}
.redes-sociales {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
}
.redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
    color: #fff;
}
.frame-parent {
    width: 1263px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 130px;
    margin-left: 80px;
    margin-top: 33px;
}
footer {
    width: 100%;
    position: relative;
    background-color: #6b5b5b;
    height: 160px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-14xl) 168px var(--padding-14xl) 80px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    color: beige;
    font-family: 'Roboto';
}
/* media query tablet */
@media screen and (max-width: 992px) {
    footer {
      padding: 10px;
      height: auto;
       /* Ajuste del padding para el footer */
    }
  
    .frame-parent {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      text-align: center;
      margin-left: 280px; /* Ajustar para centrar el contenido */
      margin-top: 20px;
    }
  
    .trminos-y-condiciones-parent,
    .ver-carta-parent,
    .frame-group {
      width: 100%;
      gap: 10px;
      margin-left: 40px; /* Ajuste del espacio entre elementos */
    }
    .redes{
        margin-left: 20px;
    }
  }
  
  /* media query móvil */
  @media screen and (max-width: 575px) {
    footer {
      display: flex;
      padding: 20px;
      height: auto;
      width: 100%; /* Ajustar altura automáticamente */
       
    }
  
    .frame-parent {
      flex-direction: column; /* Cambiar a disposición de columna en dispositivos móviles */
      align-items: center; /* Centrar elementos en dispositivos móviles */
      text-align: center;
      margin-left: 90px;
    }
  
    .trminos-y-condiciones-parent,
    .ver-carta-parent,
    .frame-group {
      width: 100%; /* Ocupar todo el ancho disponible en dispositivos móviles */
    }
  
    .email,
    .telefono {
      flex-direction: row; /* Cambiar a disposición de fila para ícono y texto en dispositivos móviles */
      justify-content: center; /* Centrar elementos en dispositivos móviles */
    }
  
    .redes-sociales {
      justify-content: center; /* Centrar íconos de redes sociales en dispositivos móviles */
    }
  }
  