#botones{
  background-color: #F2EEEE;
  height: 50px;
  padding: 20px 40px;
}

button{
  border-radius: 32px;
  border: 1px solid var(--Contrast-Colors-Bronce, #B38F48);
  background: var(--Base-colors-White, #FFF);
  box-shadow: 3px 3px 4px 0px rgba(93, 92, 92, 0.75);
  display: flex;
  max-width: 150px;
  text-align:center;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #B38F48;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  float: left;
  margin-left: 1%;
}

button:hover{
  color: #6B5B5B;
  border: 1px solid var(--Contrast-Colors-Bronce, #6B5B5B);
  cursor: pointer;
}

button:active{
  box-shadow: 3px 3px 4px 0px rgba(93, 92, 92, 0);
}

section{
  width: 100%;
  height: 8200px;
  margin: auto;
  background-color: #F2EEEE !important;
}

#contenedor_tarjetas{
  width: 52%;
  padding-left: 8%;
  float: left;
  padding-bottom: 30px;
  background-image: url("../../../../assets/images_web/image_carta_contacta.jpg");
  background-size: cover;
  background-size: contain;
  background-size: 100%;
  background-attachment: fixed;
}

.tipo_tarjetas{
  margin-left: 20px;
  margin-right: 10%;
  display: flex;
  align-items: flex-start;
  gap: 80px;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 220px;
}

.tarjeta{
  width: 208px;
  height: 430px;
  text-align: center;
  padding: 8px;
  background-color: rgba(250, 249, 247, 0.2);
  border-radius: 6px;
}

.tarjeta input{
  width: 50px;
}

h1{
  color: #F2EEEE;
  font-family: 'Roboto', sans-serif;
  margin-left: 40px;
  padding-top: 20px;
}

.textoProducto h2{
  color: #F2EEEE;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  height: 50px;
}

.textoProducto p{
  color: #F2EEEE;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.imgProducto {
  width: 208px;
  height: 208px;
  border-radius: 6px;
  background-size: cover;
  background-size: contain;
  background-size: 100%;
}

#contenedor_pedido{
  background-color: #F2EEEE;
  float: right;
  width: 38%;
  align-items: center; /* Centrar los elementos dentro del contenedor */
  background-position: center;
  padding: 20px;
  z-index: 3;
  height: 69%;
  margin-left: 60%;/* Ajustar el margen izquierdo */
  margin-top: -70px;
  position: fixed;
  overflow: auto;
}

table {
  border-collapse: separate; /* Separar los bordes de las celdas */
  border-spacing: 10px; /* Establecer el espacio entre las celdas */
  width: 100%;
}
/* Estilo para las celdas */
th, td {
  font-family:'Roboto Condensed';
  font-size:16px;
  padding: 10px; /* Añadir un relleno interno a las celdas */
  text-align: center; /* Centramos el texto en las celdas */
}
/* Estilo para los encabezados */
th {
  background-color: #B38F48; /* Color de fondo para los encabezados */
  color: black;
}

caption{
  color: black;
  font-family:'Roboto Condensed';
  font-size:48px;

}

#total{
  column-span: 2;
  color: black;
  font-weight: bold;
}

