
<h1>Lista productos</h1>

<button
  (click)="mostrarTodos()"
>
  Todos
</button>
<button
  (click)="filtrarPorSinGluten()"
>
  Sin Gluten
</button>
<button
  (click)="filtrarPorVeganos()"
>
  Veganos
</button>

<div>
  <div *ngFor="let product of products; let i = index">
    <div>
      <img [alt]="product.idProducto" [src]="'../../../../../assets/images_web/platos/' + product.idProducto + '.png'">
      <h2>{{ product.descripcion | titlecase }}</h2>
      <p>{{ product.ingredientes }}</p>
      <p>{{ product.precio | currency: 'EUR' }}</p>
      <label>
      <input
      type="checkbox"
      name="product"
      [checked]="isCheckedMap[product.idProducto]"
      (change)="saveCheckLocalStorage($event, product.idProducto)"
      > Producto
      </label>
  <!-- <input type="number" name="product{{product.idProducto}}Quantity" min="1" value="1"><br> -->
    </div>
  </div>
</div>
