 <div id="contenedor">
    <div id="botones">
      <button (click)="mostrarTodos()">Todos</button>
      <button (click)="filtrarPorSinGluten()">Sin Gluten</button>
      <button (click)="filtrarPorVeganos()">Veganos</button>
    </div>

    <div id="contenedor_tarjetas" >

      <!--ENTRANTES-->
      
      <div *ngFor="let product of products">
        <!-- <div *ngFor="let product of products; let i = index"> -->
        <div class="tarjeta" *ngIf="product.tipo === 'ENTRANTE'">
          <img class="principal-chuletonpiedra-1-icon" [alt]="product.idProducto" [src]="'assets/images_web/platos/' + product.idProducto + '.png'">
          <div class="chuletn-del-bierzo-container">
            <h2>{{ product.descripcion | titlecase }}</h2>
            <p>{{ product.ingredientes }}</p>
            <p>{{ product.precio | currency: 'EUR' }}</p>
            <input type="number"
              name="product{{product.idProducto}}"
              min="0"
              value="{{ isQuantityMap[product.idProducto] }}"
              step="1"
              (change)="saveCheckQuantityLocalStorage($event, product.idProducto)">
          </div>
        </div>
      </div>

      <!--PRINCIPAL-->
      <div *ngFor="let product of products">
        <div class="tarjeta" *ngIf="product.tipo === 'PRINCIPAL'">
          <img class="principal-chuletonpiedra-1-icon" [alt]="product.idProducto" [src]="'assets/images_web/platos/' + product.idProducto + '.png'">
          <div class="chuletn-del-bierzo-container" class="card-body">
            <h2>{{ product.descripcion | titlecase }}</h2>
            <p>{{ product.ingredientes }}</p>
            <p>{{ product.precio | currency: 'EUR' }}</p>
            <input type="number"
              name="product{{product.idProducto}}"
              min="0"
              value="{{ isQuantityMap[product.idProducto] }}"
              step="1"
              (change)="saveCheckQuantityLocalStorage($event, product.idProducto)">
          </div>
        </div>
      </div>

      <!--POSTRES-->
      <div *ngFor="let product of products">
        <div class="tarjeta" *ngIf="product.tipo === 'POSTRES'">
          <img class="principal-chuletonpiedra-1-icon" [alt]="product.idProducto" [src]="'assets/images_web/platos/' + product.idProducto + '.png'">
          <div class="chuletn-del-bierzo-container" class="card-body">
            <h2>{{ product.descripcion | titlecase }}</h2>
            <p>{{ product.ingredientes }}</p>
            <p>{{ product.precio | currency: 'EUR' }}</p>
            <input type="number"
              name="product{{product.idProducto}}"
              min="0"
              value="{{ isQuantityMap[product.idProducto] }}"
              step="1"
              (change)="saveCheckQuantityLocalStorage($event, product.idProducto)">
          </div>
        </div>
      </div>

      <!--BEBIDAS-->
      <div *ngFor="let product of products">
        <div class="tarjeta" *ngIf="product.tipo === 'BEBIDAS'">
          <img class="principal-chuletonpiedra-1-icon" [alt]="product.idProducto" [src]="'assets/images_web/platos/' + product.idProducto + '.png'">
          <div class="chuletn-del-bierzo-container" class="card-body">
            <h2>{{ product.descripcion | titlecase }}</h2>
            <p>{{ product.ingredientes }}</p>
            <p>{{ product.precio | currency: 'EUR' }}</p>
            <input type="number"
              name="product{{product.idProducto}}"
              min="0"
              value="{{ isQuantityMap[product.idProducto] }}"
              step="1"
              (change)="saveCheckQuantityLocalStorage($event, product.idProducto)">
          </div>
        </div>
      </div>


    </div>


      <div id="contenedor_pedido">

          <table>
              <caption>Mi pedido</caption>

              <thead>
                  <tr>
                      <th>Platos y bebidas</th>
                      <th>Cantidad</th>
                      <th>Importe</th>
                  </tr>
              </thead>
              <tbody *ngFor="let product of productsMiPedido" (change)="mostrarMiPedido()">
                  <tr>
                      <td>{{product.descripcion | titlecase}}</td>
                      <td>{{productsLocalStNo[product.idProducto]}}</td>
                      <td>{{ product.precio | currency: 'EUR' }}</td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td></td>
                      <td></td>
                      <td id="total">{{ mostrarTotal() | currency: 'EUR' }}</td>
                  </tr>
              </tfoot>
          </table>
          <button type="submit" (click)="enviarMiPedido()">Enviar</button>

      </div>



  </div>

